<style>
    *{padding: 0;margin: 0}
    a{text-decoration: none;color: #333}
    .fade { transition: all 300ms linear 700ms;/*-webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);-o-transform: translate3d(0,0,0);transform: translate3d(0,0,0);*/ opacity: 1;}
    .fade.out {opacity: 0;}
</style>
<div class="fade">
    <div class="header">xxxxx</div>
    <div class="banner">xxxxx</div>
    <div class="content">xxxx</div>
    <div class="footer">xxx</div>
</div>
<h1>{{title}}</h1>
<h2>非常棒</h2>
<div>
  {{body}}
</div>